.hero .swiper-button-prev,
.hero .swiper-button-next {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  position: absolute;
  bottom: 64px;
  z-index: 10;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::after {
    font-family: 'swiper-icons';
    color: white;
    font-weight: bold;
  }
}

.hero .swiper-button-next {
  right: 90px;

  &:after {
    content: 'next';
  }
}

.hero .swiper-button-prev {
  right: 132px;

  &:after {
    content: 'prev';
  }
}

.services .swiper-button-prev,
.services .swiper-button-next {
  width: 37px;
  height: 37px;
  position: absolute;
  top: 50%;
  z-index: 10;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #2f8893;

  &::after {
    font-family: 'swiper-icons';
    color: white;
    font-weight: bold;
  }
}

.services .swiper-button-next {
  right: 0;

  &:after {
    font-size: 12px !important;
    content: 'next';
  }
}

.services .swiper-button-prev {
  left: 0;
  
  &:after {
    font-size: 12px;
    content: 'prev';
  }
}

/* .gallery.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.gallery .swiper-slide img {
  display: block;
  width: 100%;
} */