@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2f8893;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
  color: #4E4E4E;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#phone {
  outline: none;
}

.react-datepicker__day--selected {
  background: var(--primary) !important;
}

.react-datepicker__header {
  background: var(--primary) !important;
  
  * {
    color: white !important;
  }
}

.react-datepicker__day--keyboard-selected {
  background: #2f889366 !important;
}
